body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #C1C99F;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
a:link {
    color: #633D2E;
    text-decoration: none;
}
a:hover {
    color: #EB8B7F;
    text-decoration: none;
}
.main {
    display: -webkit-box;
}
.main__nav {
    height: 100vh;
    background: #44B8B6;
    width: 250px;
}
.main__header {
    padding-top: 5px;
    background-color: #DDD9AB;
}
.main__body {
    background: #9CDDC8;
    -webkit-box-flex: 1; 
    padding-left: 10px;
}