body {
	padding: 0;
	margin: 0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #413E4A;
	font-size: 18px;
	background-color: navy;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: #73626E;
	text-decoration: none;
}
a:hover {
	color: purple;
	text-decoration: none;
}
.main{
    background-color: #F0B49E;
    display: -webkit-flex;
}
.main__header{
	background-color: #F7E4BE;
	padding-top: 15px;
	width: 240px;
}
.main__nav{
    background-color: #B38184;
    width: 240px;
    height: 100vh;
 }
 .main__body{
 	background-color: #F0B49E;
 	height: 100vh;
 	margin-left: 250px;
 }
 .navigation ul {
 	list-style: none;
 }
 .navheader {
 	font-weight: bold;
 	font-size: 20px;
}
.navigation #currentpage a{
	color: #C5E0DC;
	text-decoration: none;
	font-weight: bold;
}
.board {
	background-color: black;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 290px;
	height: 450px;
}
.board__square {
	background-color: skyblue;
	display: inline-block;
	font-size: 90px;
	height: 90px;
	width: 90px;
	border-style: solid;
	border-color: black;
	float: left;
}
.board__square a:link {
	color: skyblue;
}
.board__square a:visited {
	color: skyblue;
}
.board__text {
	font-size: 20px;
	color: white;
}