<style type="text/css">
			body {
				background-color: #cccccc;}
			h1 {
				position: absolute;
				top: 0px;
				left: 250px;}
			p {
				position: absolute;
				top: 50px;
				left: 250px;}
			#navigation ul {
				list-style: none;
				margin: 0;
				padding: 0; 
				background-color: #00abcf;}
			}
		</style>